@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

.about-container {
  display: flex;
  justify-content: space-between;
  padding: 80px;

  background-color: #fff;
}

.about-left {
  width: 50%;
}

.about-t {
    width: 131px;
height: 76px;
top: 1262px;
left: 121px;

font-family: Manrope;
font-weight: 300;
font-size: 32px;
line-height: 76px;
letter-spacing: 0%;
vertical-align: middle;

color: rgba(0, 47, 112, 1);

}

.about-head{
    width: 824px;
height: 152px;
top: 1378px;
left: 121px;

font-family: Manrope;
font-weight: 700;
font-size: 56px;
line-height: 76px;
letter-spacing: 0%;
vertical-align: middle;

color: rgba(0, 47, 112, 1);




}

.about-des{
width: 817px;
height: 200px;
top: 1554px;
left: 121px;

font-family: Manrope;
font-weight: 400;
font-size: 24px;
line-height: 40px;
letter-spacing: 0%;
vertical-align: middle;

color: rgba(51, 51, 51, 1);


}

.about-knowmore-button {
width: 245px;
height: 70px;
top: 1834px;
left: 121px;
border-bottom-right-radius: 16px;
border-width: 1px;

 display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

border: 1px solid rgba(0, 47, 112, 1);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;


}

.about-knowmore-text {
  width: 91px;
height: 25px;
top: 1856.91px;
left: 230px;

font-family: Manrope;
font-weight: 300;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;

color: rgba(51, 51, 51, 1);


}



.about-img1{
width: 150px;
height: 642px;
top: 1222px;
left: 1139px;


}
.about-img2{
width: 150px;
height: 642px;
top: 1302px;
left: 1309px;


}
.about-img3{
width: 150px;
height: 642px;
top: 1222px;
left: 1479px;
border-width: 1px;
border: 1px solid rgba(226, 226, 226, 1)

}
.about-img4{
width: 150px;
height: 642px;
top: 1302px;
left: 1649px;
border-width: 1px;
border: 1px solid rgba(226, 226, 226, 1)


} 