@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
/* home component */
.home-image{ width: 1920px;
  height: 1062px;
  top: -5px;
  background-color:rgba(0, 47, 112, 0.3)
  
}
.home-text{
    position: absolute;
  top: 472px;
  left: 120px;
  width: 725px;
  height: 240px;
  font-weight: 700;
  font-size: 88px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  margin: 0;
}

.arrow-icon{
     
width: 21px;
height: 25px;
top: 811px;
left: 305.98px;
transform: rotate(10deg);

color: rgba(0, 47, 112, 1);
}

.know-more-text{
      
  width: 106px;
height: 27px;
top: 814px;
left: 169px;
font-family: Manrope;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;


color: rgba(0, 47, 112, 1);



}

.know-more-button{
 position: absolute;
 width: 236px;
height: 70px;
top: 792px;
left: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
border-width: 1px;
border-radius: 16px;

background-color: rgba(255, 255, 255, 1);

border: 1px solid rgba(255, 255, 255, 1)


}
