.service-t{
    width: 346px;
height: 76px;
top: 3078px;
left: 120px;

font-family: Manrope;
font-weight: 700;
font-size: 56px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

color: rgba(0, 47, 112, 1);

}

.service-d{
    width: 1300px;
height: 40px;
top: 3178px;
left: 120px;
border-width: 1px;

font-family: Manrope;
font-weight: 400;
font-size: 24px;
line-height: 40px;
letter-spacing: 0%;

color: rgba(51, 51, 51, 1);

/* border: 1px solid rgba(0, 0, 0, 1); */

text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);




}


.service-links-row {
  display: flex;
  gap: 24px;
}

.residential-box{
    width: 224px;
height: 70px;
top: 3258px;
left: 120px;
border-width: 1px;
border-radius: 100px;

background: rgba(51, 51, 51, 1);

border: 1px solid rgba(51, 51, 51, 1);
 display: flex;               /* Add */
  align-items: center;         /* Add - vertical center */
  justify-content: center; 


}


.construction-box {
width: 224px;
height: 70px;
top: 3258px;
left: 368px;
border-width: 1px;
border-radius: 100px;

border: 1px solid rgba(51, 51, 51, 1);

 display: flex;               /* Add */
  align-items: center;         /* Add - vertical center */
  justify-content: center; 

}

.residential-link{
  text-decoration: none;

    width: 91px;
height: 25px;
top: 3281px;
left: 187px;

font-family: Manrope;
font-weight: 300px;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;

color: rgba(255, 255, 255, 1);



}
.construction-link {
  text-decoration: none;

  width: 109px;
height: 25px;
top: 3281px;
left: 426px;

font-family: Manrope;
font-weight: 300px;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-transform: capitalize;

color: rgba(51, 51, 51, 1);



}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px; /* spacing between cards */
  justify-content: center;
  padding: 40px 0;
}

.service-card {
 width: 400px;
height: 295px;
top: 3392px;
left: 120px;
border-width: 1px;
border-bottom-right-radius: 40px;
background: rgba(255, 255, 255, 1);
border: 1px solid rgba(226, 226, 226, 1)


}

.service-image {
width: 80px;
height: 80px;
top: 3460px;
left: 280px;
}

.service-card-title {
width: 203px;
height: 40px;
top: 3580px;
left: 218px;

font-family: Manrope;
font-weight: 600;
font-size: 32px;
line-height: 40px;
letter-spacing: 0%;
text-align: center;

  color : rgba(0, 47, 112, 1);

}


